@use 'reset.scss';

body {
	font-family: 'Roboto', sans-serif;
	background-color: #f9fbf3;
	color: #374836;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 80px;
	padding-right: 80px;
}

.header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #242924;
	padding: 32px 0px;
	z-index: 100;
	.header-container {
		position: relative;
		.header-logo {
			position: absolute;
			left: 0px;
		}
		.header-menu {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 48px;
			height: 42px;
			font-family: 'Roboto Condensed', sans-serif;
			text-transform: uppercase;
			line-height: 24px;
			a {
				text-decoration: none;
				color: #242924;
			}
			.header-menu-item {
				cursor: pointer;
			}
		}
	}
}

.main {
	.project-section {
		margin-top: 106px;
		padding-bottom: 80px;
		.project-title-link {
			text-transform: uppercase;
			font-weight: 300;
			line-height: 26px;
			color: #374836;
		}
		.project-title {
			font-size: 80px;
			font-weight: 600;
			line-height: 88px;
			text-transform: uppercase;
			margin-bottom: 24px;
		}
		.project-subtitle {
			font-weight: 300;
			line-height: 26px;
			margin-bottom: 80px;
		}
		.project-images-wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 350px 350px;
			gap: 24px;
			margin-bottom: 14px;
			.img-wrapper {
				position: relative;
				overflow: hidden;
				width: 100%;
				height: 100%;
				> img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.project-img-link-1 {
				grid-row-start: 1;
				grid-row-end: 3;
			}
		}
		.project-images-wrapper-reverse {
			.project-img-link-1 {
				grid-row-start: 1;
				grid-row-end: 2;
			}
			.project-img-link-3 {
				grid-row-start: 1;
				grid-row-end: 3;
			}
		}
		.project-btn-wrapper {
			text-align: center;
			margin-top: 32px;
		}
		.projects-btn {
			border: none;
			background-color: #242924;
			color: #ffffff;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			line-height: 24px;
			text-transform: capitalize;
			padding: 10px 40px;
			cursor: pointer;
		}
	}
	.contacts-section {
		background-color: #374836;
		color: #ffffff;
		padding: 96px 0px;
		background-image: url(images/contacts-bg.png);
		background-position: center;
		background-repeat: no-repeat;
		.contacts-container {
			display: flex;
			justify-content: space-between;
			.contacts-title {
				font-size: 80px;
				font-weight: 300;
				line-height: 88px;
				text-transform: uppercase;
				span {
					color: #849d83;
					font-weight: 700;
				}
			}
			.contacts-wrapper {
				width: 50%;
				line-height: 26px;
				.bold-text {
					font-weight: 700;
				}
				.contacts-item:first-child {
					margin-bottom: 30px;
				}
			}
		}
	}
}

.footer {
	background-color: #242924;
	padding: 82px 0px;
	color: #ffffff;
	.footer-title {
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 20px;
	}
	.footer-links-container {
		display: flex;
		justify-content: space-between;
		gap: 54px;
		a {
			display: block;
			color: white;
			text-decoration: none;
			font-size: 14px;
			line-height: 24px;
			text-transform: uppercase;
			margin-bottom: 12px;
		}
	}
	.footer-copyright-container {
		border-top: 1px solid #ffffff;
		margin-top: 80px;
		padding-top: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		p {
			opacity: 0.75;
		}
		a {
			text-decoration: none;
			color: white;
			opacity: 0.75;
			font-weight: 700;
			line-height: 24px;
			text-transform: uppercase;
		}
	}
}
